* {
    box-sizing: border-box;
    max-width: 100vw;;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D9D4CA;
    max-width: 100vw;
}

nav, h1 {
    margin: 0;
    line-height: 2;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3, h4 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}
img {
    width: 100%;
    height: auto;
}

p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 2;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.19em;
    transition: all;
    transition-duration: 1800ms;
}

a:hover {
    border: 1px solid #ffffff;
    border-radius: 2px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    min-width: 100vw;
    padding: 0 6.25em;
    background-color: #000000;
    color: #ffffff;
}

.logo {
    cursor: pointer;
}

ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 0 1.25em;
}

#btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

header {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.hero-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7.5em 0;
}

.heroarea-background {
    max-width: 100vw;
    min-height: 70vh;
    min-width: 80vw;
    border-radius: 0 0 42% 42%;
    background-color: #EDB120;
}

.hero-area img {
    width: 18em;
    height: auto;
    border-radius: 50%;
    outline: 6px solid #EEEFEF;
    outline-offset: 5px;
}

.self-introduction {
    padding: 2.5em;
}

.self-introduction p {
    width: 80%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.75em auto;
    width: 80%;
}

.italy, 
.brazil,
.web-development,
.android-app-development,
.more-pizza {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: -1;
    margin-top: 2em;
}

.brazil,
.android-app-development {
    flex-wrap: wrap-reverse;
} 

.about-me-picture {
    flex: 1 1 20%;
    text-align: center;

}

img.aside-pic {
    height: 19.37em;
    width: 19.37em;
}

.about-me-text {
    flex: 1 1 70%;
}

.about-me-text p {
    margin: 0 auto;
    padding: 2.5em;
    width: 50%;
}

img.text-pic {
    display: block;
    height: 8.62em;
    width: 8.62em;
    float: right;
}

div:nth-child(odd) > img.text-pic {
    float: left;
}

.path {
    flex: 0 0 100%;
    overflow: hidden;
    min-height: 2.5em;
    /* min-width: 100%; */
}

.right {
    position: absolute;
    bottom: -50%;
    right: -6.875em;
    z-index: -1;
    min-height: 26.875em;
    width: 6.25em;
    border-width: 10px 10px 10px 0;
    border-top-right-radius: 9.687em;
    border-bottom-right-radius: 9.687em;
    border-color:  #5D5E60;
    border-style: dashed;
}

.left {
    position: absolute;
    top: 50%;
    left: -6.875em;
    z-index: -1;
    min-height: 26.875em;
    width: 6.25em;
    border-width: 10px 0px 10px 10px;
    border-top-left-radius: 9.687em;
    border-bottom-left-radius: 9.687em;
    border-color:  #5D5E60;
    border-style: dashed;
}



/* MEDIA QUERIES */
@media (max-width: 1132px) {
    .hero-area {
        flex-direction: column;
    }
}
@media (max-width: 947px) {
    .hero-area {
        padding-bottom: 3.75em;
    }
    
    h2 {
        margin-top: 1.875em;
        line-height: 2.5;
    }

    .self-introduction {
        width: 100%;
        min-width: 535px;
        padding: 0;
        text-align: center;
    }
    
    .self-introduction p {
        /* margin-top: 2em; */
        width: 100%;
        color: #ffffff
    }
}

@media (max-width: 741px) {
    h2 {
        margin: 0 1em;
        line-height: 1.5em;
    }

    .logo {
        flex-basis: 1 1 100%;
        text-align: center;
        width: 100%;
    }

    ul {
        flex-basis: 1 1 100%;
        width: 100%;
    }
    .hero-picture {
        margin-bottom: 2.5em;
    }

    .self-introduction {
        text-align: center;
        padding: 0;
    }

}

@media (max-width: 661px) {
    ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        display: hidden;
    }

    ul li {
        display: none;
        flex-basis: 1 1 100%;
        width: 100%;
        text-align: center;
    }
    
    #btn-menu {
        display: block;
    }

    .hero-area {
        padding-top: 4.5em;
    }

}

/* CSS Testing rules */



.footer-background {
    width: 300px;
    height: 250px;
    border-radius: 42% 42% 0 0;
    background-color: #717171;
}