* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D9D4CA;
    min-width: 100vw;
}

nav, h1 {
    margin: 0;
    line-height: 2;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}
img {
    width: 100%;
    height: auto;
}

p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 2;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.19em;
    transition: all;
    transition-duration: 1800ms;
}

a:hover {
    border: 1px solid #ffffff;
    border-radius: 2px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 6.25em;
    background-color: #000000;
    color: #ffffff;
}

.logo {
    cursor: pointer;
}

ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 0 1.25em;
}

#btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

header {
    height: 100vh;
}

.hero-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10em 6.25em 0;
}

.hero-area img {
    width: 18em;
    height: auto;
    border-radius: 50%;
    outline: 6px solid #EEEFEF;
    outline-offset: 5px;
}

.self-introduction {
    padding: 2.5em;
}

.self-introduction p {
    width: 80%;
}



.heroarea-background {
    max-width: 100vw;
    /* min-height: ; */
    max-height: 80vh;
    border-radius: 0 0 42% 42%;
    background-color: #FEBD22;
}

.footer-background {
    width: 300px;
    height: 250px;
    border-radius: 42% 42% 0 0;
    background-color: #717171;
}

/* MEDIA QUERIES */
@media (max-width: 947px) {
    .self-introduction {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    h2 {
        margin-top: 1.875em;
        line-height: 2.5;
    }

    .self-introduction p {
        margin-top: 2em;
        width: 100%;
        color: #5D5E60
    }
}

@media (max-width: 741px) {
    .hero-area {
        padding: 10em 3.125em 0;
    }

    .logo {
        flex-basis: 1 1 100%;
        text-align: center;
        width: 100%;
    }

    ul {
        flex-basis: 1 1 100%;
        width: 100%;
    }

    .self-introduction {
        text-align: center;
        padding: 0;
    }

    .self-introduction p {
        margin-top: 2.625em;
    }

}

@media (max-width: 661px) {
    ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        display: hidden;
    }

    ul li {
        display: none;
        flex-basis: 1 1 100%;
        width: 100%;
        text-align: center;
    }

    #btn-menu {
        display: block;
    }

    .showMenu {
        display: block;
    }
}